.header {
  padding: 20px 0 5px 0;

  .logo {
    text-align: center;
    width: 100%;

    .logo-link {
      color: #fff;
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 20px;

      img {
        width: 70px;
        height: 70px;
      }

      h3 {
        display: flex;
        text-transform: uppercase;
        align-items: center;
        gap: 10px;

        p {
          &:first-child {
            font-size: 22px;
          }
        }
      }
    }
  }
}
